//output:admin.html, pretty: true
doctype html
head
	meta(charset='utf-8')
	link(href='https://fonts.googleapis.com/css?family=Lato&display=swap' rel='stylesheet')
	script(src='https://kit.fontawesome.com/c7caeb49e9.js')
	link(rel='stylesheet' type='text/css' href='./styles/admin.min.css')
	title V칛ster친s Golfklubb - Admin
body
	nav#svart-nav
	nav#nav
		a(href='./hem')
			img(src='./images/loga.png' alt='V칛ster친s Golfklubb Loga')
		.menu
			a.rubrik#hem(href='./hem') Hem
			a.rubrik#klubben(href='./klubben') Klubben
			.div#div-klubben
				i.fas.fa-caret-left
				.items
					a(href='./klubben/kansli') Kansli
					a(href='./klubben/organisation') Organisation
					a(href='./klubben/historia') Historia
					a(href='./klubben/klubbmastare') Klubbm칛stare
					a(href='./klubben/vader') V칛der
					a(href='./klubben/kontakta-klubben') Kontakta klubben
			a.rubrik#medlem(href='./medlem') Medlem
			.div#div-medlem
				i.fas.fa-caret-left
				.items
					a(href='./gast/greenfeesamarbeten') Greenfeesamarbeten
					a(href='./gast/seniorer') Seniorer
					a(href='./gast/damer') Damer
					a(href='./gast/ungdomelit') Ungdom/Elit
					a(href='./gast/medlemsformaner') Medlemsf칬rm친ner
					a(href='./gast/hickory') Hickory
			a.rubrik#gast(href='./gast') G&auml;st
			.div#div-gast
				i.fas.fa-caret-left
				.items
					a(href='./medlem/bokningsinformation') Bokningsinformation
					a(href='./medlem/vader') V칛der
					a(href='./medlem/greenfee') Greenfee
					a(href='./medlem/golfpaket') Golfpaket
					a(href='./medlem/kontakta-klubben') Kontakta klubben
					a(href='./medlem/introduktionskort') Introduktionskort
			a.rubrik#banan(href='./banan') Banan
			.div#div-banan
				i.fas.fa-caret-left
				.items
					a(href='./banan/banchef-informerar') Banchef informerar
					a(href='./banan/banguide') Banguide
					a(href='./banan/slope') Slope
					a(href='./banan/lokala-regler') Lokala regler
					a(href='./banan/banrekord') Banrekord
			a.rubrik#tavlingar(href='./tavlingar') T칛vlingar
			.div#div-tavlingar
				i.fas.fa-caret-left
				.items
					a(href='./tavlingar/klubbtavlingar') Klubbt칛vlingar
					a(href='./tavlingar/torsdagsliret') Torsdagsliret
					a(href='./tavlingar/onsdagsmixen') Onsdagsmixen
					a(href='./tavlingar/damtavlingar') Dam t칛vingar
					a(href='./tavlingar/ovriga-tavlingar') 칐vriga t칛vlingar
			a.rubrik#foretag(href='./foretag') F&ouml;retag
			.div#div-foretag
				i.fas.fa-caret-left
				.items
					a(href='./foretag/foretagsgolf') F칬retagsgolf
					a(href='./foretag/prislistaservice') Prislista/Service
					a(href='./foretag/sponsring') Sponsring
					a(href='./foretag/konferenslokal') Konsferenslokal
					a(href='./foretag/partners') Partners
					a(href='./foretag/kontakta-oss') Kontakta oss
			a.rubrik#shop(href='./shop') Shop
			.div#div-shop
				i.fas.fa-caret-left
				.items
					a(href='./shop/sortiment') Sortiment
					a(href='./shop/range') Range
					a(href='./shop/aktiviteter') Aktiviteter
					a(href='./shop/grupptraning') Grupptr칛ning
					a(href='./shop/golflektioner') Golflektioner
			a.rubrik#restaurang(href='./restaurang') Restaurang
			.div#div-restaurang
				i.fas.fa-caret-left
				.items
					a(href='./foretag/dagens-lunch') Dagens lunch
					a(href='./foretag/a-la-carte') A la carte
					a(href='./foretag/julbord') Julbord
					a(href='./foretag/catering') Catering
					a(href='./foretag/recensioner') Recensioner
					a(href='./foretag/kontakt') Kontakt
	section#main
		img(src='./images/v칛ster친s golfklubb1.jpg' alt='V칛ster친s Golfklubb')
		#namn
			h1#vasteras V칛ster친s
			h1#golfklubb Golfklubb
		#aktuellt
			a.info(href='./gast/golfpaket')
				img(src='./images/golfpaket.jpg' alt="V칛ster친s golfklubb")
				h3.text#top Boka
				h2.text#bottom Golfpaket
			a.info(href='./shop')
				img(src='./images/shop1.jpg' alt='V칛ster친s golfklubb shop')
				h3.text#top Pro & Shop
				h2.text#bottom Tomas Ljungqvist
	img#background(src='./images/v칛ster친s golfklubb1.jpg' alt='V칛ster친s Golfklubb')
	section#nyheter
		h1 Nyheter
		.nyhet
			input(type='text' value='H칬stuppdatering banan')
			textarea Golfs칛songen b칬rjar sjunga p친 sista versen f칬r i 친r, vi har kommit in i oktober, l칬ven har s친 sm친tt skiftat f칛rg 游꼐 och frosten har redan nu infunnit sig ett flertal g친nger p친 mornarna. September var en torr och fin h칬stm친nad och banan h친ller fortsatt riktigt fin klass. Man har inf칬r varje h칬st/vinter en tanke om att allt kommer att lugna ner dig lite efter sommarens intensiva dagar. P친 n친got s칛tt intr칛ffar aldrig riktigt det lugnet d친 det alltid finns saker som ligger p친 och v친r ambition alltid 칛r att f칬rb칛ttra och f칬rfina v친r sk칬tselplan.
			.datum
				input(type='date' value='2019-09-03')
		.nyhet
			input(type='text' value='Inspirationskv칛ll med V칛ster친s Golfklubb och Nordic Wellness')
			textarea Nordic Wellness h칛lsar alla medlemmar p친 V칛ster친s Golfklubb varmt v칛lkomna att tr칛na tillsammans och hitta inspiration inf칬r vinterns st칛rkande fystr칛ning. De har valt ut ett antal pass de tror att ni kommer att tycka om, dessutom har de laddat upp med personliga tr칛nare, mass칬r med fokus p친 de besv칛r vi golfare kan f친 i r칬relseapparaten, fystester, m.m
			.datum
				input(type='date' value='2019-08-30')
		.nyhet
			input(type='text' value='Damernas s칛songsavslutning 2019')
			textarea S칛songsavslutning med ett 40-tal damer under glatt surr p친 klubben p친 m친ndagskv칛llen. God mat och diverse prisutdelningar under kv칛llen. S칛songen utv칛rderades och deltagarna l칛mnade synpunkter inf칬r n칛sta 친r. Till kaffet blev det t친rta f칬r att fira tv친 serievinster, D70 samt Damer Vardag. Idag spelas Damer Helg, p친 hemmabanan, som blivit uppskjuten pga ov칛der. H친ll tummarna f칬r att vi kan avancera till f칬rsta plats och ta storslam i 친r.
			.datum
				input(type='date' value='2019-08-17')
	aside#svart-aside
	aside#kalender
		h1 Kalender
		div
			.handelse
				h3 T칛vling: Shop- & restaurangscramble
				.datum
					p L칬rdag 05/10
					p.mellanrum |
					a(href='./evenemang') L칛s mer
			.handelse
				h3 T칛vling: Onsdagsmixen kl.9-12
				.datum
					p Onsdag 09/10
					p.mellanrum |
					a(href='./evenemang') L칛s mer
			.handelse
				h3 T칛vling: H칬sttouren klass A
				.datum
					p Torsdag 10/10
					p.mellanrum |
					a(href='./evenemang') L칛s mer
			.handelse
				h3 Seniorkommitt칠 H칬stavslutning
				.datum
					p Torsdag 10/10
					p.mellanrum |
					a(href='./evenemang') L칛s mer
			.handelse
				h3 T칛vling: Tarzan trophy
				.datum
					p L칬rdag 12/10
					p.mellanrum |
					a(href='./evenemang') L칛s mer
		h1#lunch Dagens lunch
			div
				p Ostpanerad kycklingfil칠, tomats친s, salviarostad potatis
				p Svamprisotto, rotfruktschips, persilja, grana padano
				p Pasta med bacon, gr칛dde, 칛ggula, svartpeppar
				p Sallad med pulled pork, rostad l칬k, r칬dk친l, vitl칬ksdressing
	section#brev
		h1 Prenumerera p친 V칛ster친s Golfklubb's nyhetsbrev
		form
			i.far.fa-envelope
			input(type='text' placeholder='Din E-postadress...')
			button(type='submit') Skicka
	section#sociala-medier
		h1 V친ra sociala medier
		div
			a(href='https://www.facebook.com/vasterasgolfklubb1931' target='_blank')
				i.fab.fa-facebook
			a(href='https://www.instagram.com/vasterasgk/' target='_blank')
				i.fab.fa-instagram
			a(href='https://twitter.com/VasterasGolf' target='_blank')
				i.fab.fa-twitter
			a(href='https://www.youtube.com/user/VasterasGolfklubb' target='_blank')
				i.fab.fa-youtube
	footer
		.info
			p V칛ster친s Golfklubb
			p Bj칛rby 724 83 V칛ster친s
			p Tel: 021 - 448 47 00
			p E-post: info@vasterasgk.se
		.lankar
			a(href='./hem') Hem
			a(href='./klubben') Klubben
			a(href='./medlem') Medlem
			a(href='./gast') G칛st
			a(href='./banan') Banan
			a(href='./tavlingar') T칛vlingar
			a(href='./foretag') F칬retag
			a(href='./shop') Shop
			a(href='./restaurang') Restaurang
script(type='text/javascript' src='./scripts/admin.js')
