<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c7caeb49e9.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/admin.min.css">
  <title>Västerås Golfklubb - Admin</title>
</head>
<body>
  <nav id="svart-nav"></nav>
  <nav id="nav"><a href="./hem"><img src="./images/loga.png" alt="Västerås Golfklubb Loga"></a>
    <div class="menu"><a id="hem" href="./hem" class="rubrik">Hem</a><a id="klubben" href="./klubben" class="rubrik">Klubben</a>
      <div id="div-klubben" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./klubben/kansli">Kansli</a><a href="./klubben/organisation">Organisation</a><a href="./klubben/historia">Historia</a><a href="./klubben/klubbmastare">Klubbmästare</a><a href="./klubben/vader">Väder</a><a href="./klubben/kontakta-klubben">Kontakta klubben</a></div>
      </div><a id="medlem" href="./medlem" class="rubrik">Medlem</a>
      <div id="div-medlem" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./gast/greenfeesamarbeten">Greenfeesamarbeten</a><a href="./gast/seniorer">Seniorer</a><a href="./gast/damer">Damer</a><a href="./gast/ungdomelit">Ungdom/Elit</a><a href="./gast/medlemsformaner">Medlemsförmåner</a><a href="./gast/hickory">Hickory</a></div>
      </div><a id="gast" href="./gast" class="rubrik">G&auml;st</a>
      <div id="div-gast" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./medlem/bokningsinformation">Bokningsinformation</a><a href="./medlem/vader">Väder</a><a href="./medlem/greenfee">Greenfee</a><a href="./medlem/golfpaket">Golfpaket</a><a href="./medlem/kontakta-klubben">Kontakta klubben</a><a href="./medlem/introduktionskort">Introduktionskort</a></div>
      </div><a id="banan" href="./banan" class="rubrik">Banan</a>
      <div id="div-banan" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./banan/banchef-informerar">Banchef informerar</a><a href="./banan/banguide">Banguide</a><a href="./banan/slope">Slope</a><a href="./banan/lokala-regler">Lokala regler</a><a href="./banan/banrekord">Banrekord</a></div>
      </div><a id="tavlingar" href="./tavlingar" class="rubrik">Tävlingar</a>
      <div id="div-tavlingar" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./tavlingar/klubbtavlingar">Klubbtävlingar</a><a href="./tavlingar/torsdagsliret">Torsdagsliret</a><a href="./tavlingar/onsdagsmixen">Onsdagsmixen</a><a href="./tavlingar/damtavlingar">Dam tävingar</a><a href="./tavlingar/ovriga-tavlingar">Övriga tävlingar</a></div>
      </div><a id="foretag" href="./foretag" class="rubrik">F&ouml;retag</a>
      <div id="div-foretag" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./foretag/foretagsgolf">Företagsgolf</a><a href="./foretag/prislistaservice">Prislista/Service</a><a href="./foretag/sponsring">Sponsring</a><a href="./foretag/konferenslokal">Konsferenslokal</a><a href="./foretag/partners">Partners</a><a href="./foretag/kontakta-oss">Kontakta oss</a></div>
      </div><a id="shop" href="./shop" class="rubrik">Shop</a>
      <div id="div-shop" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./shop/sortiment">Sortiment</a><a href="./shop/range">Range</a><a href="./shop/aktiviteter">Aktiviteter</a><a href="./shop/grupptraning">Gruppträning</a><a href="./shop/golflektioner">Golflektioner</a></div>
      </div><a id="restaurang" href="./restaurang" class="rubrik">Restaurang</a>
      <div id="div-restaurang" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./foretag/dagens-lunch">Dagens lunch</a><a href="./foretag/a-la-carte">A la carte</a><a href="./foretag/julbord">Julbord</a><a href="./foretag/catering">Catering</a><a href="./foretag/recensioner">Recensioner</a><a href="./foretag/kontakt">Kontakt</a></div>
      </div>
    </div>
  </nav>
  <section id="main"><img src="./images/västerås golfklubb1.jpg" alt="Västerås Golfklubb">
    <p id="anvandare">Admin</p>
    <div id="namn">
      <h1 id="vasteras">Västerås</h1>
      <h1 id="golfklubb">Golfklubb</h1>
    </div>
    <div id="aktuellt"><a href="./gast/golfpaket" class="info"><img src="./images/golfpaket.jpg" alt="Västerås golfklubb">
        <h3 id="top" class="text">Boka</h3>
        <h2 id="bottom" class="text">Golfpaket</h2></a><a href="./shop" class="info"><img src="./images/shop1.jpg" alt="Västerås golfklubb shop">
        <h3 id="top" class="text">Pro & Shop</h3>
        <h2 id="bottom" class="text">Tomas Ljungqvist</h2></a></div>
  </section><img id="background" src="./images/västerås golfklubb1.jpg" alt="Västerås Golfklubb">
  <section id="nyheter">
    <h1>Nyheter</h1>
    <div class="nyhet">
      <input type="text" value="Höstuppdatering banan">
      <textarea>Golfsäsongen börjar sjunga på sista versen för i år, vi har kommit in i oktober, löven har så smått skiftat färg 🍁 och frosten har redan nu infunnit sig ett flertal gånger på mornarna. September var en torr och fin höstmånad och banan håller fortsatt riktigt fin klass. Man har inför varje höst/vinter en tanke om att allt kommer att lugna ner dig lite efter sommarens intensiva dagar. På något sätt inträffar aldrig riktigt det lugnet då det alltid finns saker som ligger på och vår ambition alltid är att förbättra och förfina vår skötselplan.</textarea>
      <div class="datum">
        <input type="date" value="2019-09-03">
      </div>
    </div>
    <div class="nyhet">
      <input type="text" value="Inspirationskväll med Västerås Golfklubb och Nordic Wellness">
      <textarea>Nordic Wellness hälsar alla medlemmar på Västerås Golfklubb varmt välkomna att träna tillsammans och hitta inspiration inför vinterns stärkande fysträning. De har valt ut ett antal pass de tror att ni kommer att tycka om, dessutom har de laddat upp med personliga tränare, massör med fokus på de besvär vi golfare kan få i rörelseapparaten, fystester, m.m</textarea>
      <div class="datum">
        <input type="date" value="2019-08-30">
      </div>
    </div>
    <div class="nyhet">
      <input type="text" value="Damernas säsongsavslutning 2019">
      <textarea>Säsongsavslutning med ett 40-tal damer under glatt surr på klubben på måndagskvällen. God mat och diverse prisutdelningar under kvällen. Säsongen utvärderades och deltagarna lämnade synpunkter inför nästa år. Till kaffet blev det tårta för att fira två serievinster, D70 samt Damer Vardag. Idag spelas Damer Helg, på hemmabanan, som blivit uppskjuten pga oväder. Håll tummarna för att vi kan avancera till första plats och ta storslam i år.</textarea>
      <div class="datum">
        <input type="date" value="2019-08-17">
      </div>
    </div>
  </section>
  <aside id="svart-aside"></aside>
  <aside id="kalender">
    <h1>Kalender</h1>
    <div>
      <div class="handelse">
        <input type="text" value="Tävling: Shop- &amp; restaurangscramble" class="top-input">
        <div class="datum">
          <input type="text" value="Lördag 05/10">
          <p class="mellanrum">|</p><a href="./evenemang">Läs mer</a>
        </div>
      </div>
      <div class="handelse">
        <input type="text" value="Tävling: Onsdagsmixen kl.9-12" class="top-input">
        <div class="datum">
          <input type="text" value="Onsdag 09/10">
          <p class="mellanrum">|</p><a href="./evenemang">Läs mer</a>
        </div>
      </div>
      <div class="handelse">
        <input type="text" value="Tävling: Hösttouren klass A" class="top-input">
        <div class="datum">
          <input type="text" value="Torsdag 10/10">
          <p class="mellanrum">|</p><a href="./evenemang">Läs mer</a>
        </div>
      </div>
      <div class="handelse">
        <input type="text" value="Seniorkommitté Höstavslutning" class="top-input">
        <div class="datum">
          <input type="text" value="Torsdag 10/10">
          <p class="mellanrum">|</p><a href="./evenemang">Läs mer</a>
        </div>
      </div>
      <div class="handelse">
        <input type="text" value="Tävling: Tarzan trophy" class="top-input">
        <div class="datum">
          <input type="text" value="Lördag 12/10">
          <p class="mellanrum">|</p><a href="./evenemang">Läs mer</a>
        </div>
      </div>
    </div>
    <h1 id="lunch">Dagens lunch
      <div>
        <p>Ostpanerad kycklingfilé, tomatsås, salviarostad potatis</p>
        <p>Svamprisotto, rotfruktschips, persilja, grana padano</p>
        <p>Pasta med bacon, grädde, äggula, svartpeppar</p>
        <p>Sallad med pulled pork, rostad lök, rödkål, vitlöksdressing</p>
      </div>
    </h1>
  </aside>
  <section id="brev">
    <h1>Prenumerera på Västerås Golfklubb's nyhetsbrev</h1>
    <form><i class="far fa-envelope"></i>
      <input type="text" placeholder="Din E-postadress...">
      <button type="submit">Skicka</button>
    </form>
  </section>
  <section id="sociala-medier">
    <h1>Våra sociala medier</h1>
    <div><a href="https://www.facebook.com/vasterasgolfklubb1931" target="_blank"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/vasterasgk/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/VasterasGolf" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://www.youtube.com/user/VasterasGolfklubb" target="_blank"><i class="fab fa-youtube"></i></a></div>
  </section>
  <footer id="footer">
    <div class="info">
      <p>Västerås Golfklubb</p>
      <p>Bjärby 724 83 Västerås</p>
      <p>Tel: 021 - 448 47 00</p>
      <p>E-post: info@vasterasgk.se</p>
    </div>
    <div class="lankar"><a href="./hem">Hem</a><a href="./klubben">Klubben</a><a href="./medlem">Medlem</a><a href="./gast">Gäst</a><a href="./banan">Banan</a><a href="./tavlingar">Tävlingar</a><a href="./foretag">Företag</a><a href="./shop">Shop</a><a href="./restaurang">Restaurang</a></div>
  </footer>
</body>
<script type="text/javascript" src="./scripts/admin.js"></script>