<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c7caeb49e9.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/index.min.css">
  <title>V&auml;ster&aring;s Golfklubb</title>
</head>
<body>
  <nav id="black-nav"></nav>
  <nav id="nav"><a href="./hem"><img src="./images/loga.png" alt="Västerås Golfklubb Loga"></a>
    <div class="menu"><a id="hem" href="./hem" class="rubrik">Hem</a><a id="klubben" href="./klubben" class="rubrik">Klubben</a>
      <div id="div-klubben" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./klubben/kansli">Kansli</a><a href="./klubben/organisation">Organisation</a><a href="./klubben/historia">Historia</a><a href="./klubben/klubbmastare">Klubbmästare</a><a href="./klubben/vader">Väder</a><a href="./klubben/kontakta-klubben">Kontakta klubben</a></div>
      </div><a id="medlem" href="./medlem" class="rubrik">Medlem</a>
      <div id="div-medlem" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./gast/greenfeesamarbeten">Greenfeesamarbeten</a><a href="./gast/seniorer">Seniorer</a><a href="./gast/damer">Damer</a><a href="./gast/ungdomelit">Ungdom/Elit</a><a href="./gast/medlemsformaner">Medlemsförmåner</a><a href="./gast/hickory">Hickory</a></div>
      </div><a id="gast" href="./gast" class="rubrik">G&auml;st</a>
      <div id="div-gast" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./medlem/bokningsinformation">Bokningsinformation</a><a href="./medlem/vader">Väder</a><a href="./medlem/greenfee">Greenfee</a><a href="./medlem/golfpaket">Golfpaket</a><a href="./medlem/kontakta-klubben">Kontakta klubben</a><a href="./medlem/introduktionskort">Introduktionskort</a></div>
      </div><a id="banan" href="./banan" class="rubrik">Banan</a>
      <div id="div-banan" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./banan/banchef-informerar">Banchef informerar</a><a href="./banan/banguide">Banguide</a><a href="./banan/slope">Slope</a><a href="./banan/lokala-regler">Lokala regler</a><a href="./banan/banrekord">Banrekord</a></div>
      </div><a id="tavlingar" href="./tavlingar" class="rubrik">Tävlingar</a>
      <div id="div-tavlingar" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./tavlingar/klubbtavlingar">Klubbtävlingar</a><a href="./tavlingar/torsdagsliret">Torsdagsliret</a><a href="./tavlingar/onsdagsmixen">Onsdagsmixen</a><a href="./tavlingar/damtavlingar">Dam tävingar</a><a href="./tavlingar/ovriga-tavlingar">Övriga tävlingar</a></div>
      </div><a id="foretag" href="./foretag" class="rubrik">F&ouml;retag</a>
      <div id="div-foretag" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./foretag/foretagsgolf">Företagsgolf</a><a href="./foretag/prislistaservice">Prislista/Service</a><a href="./foretag/sponsring">Sponsring</a><a href="./foretag/konferenslokal">Konsferenslokal</a><a href="./foretag/partners">Partners</a><a href="./foretag/kontakta-oss">Kontakta oss</a></div>
      </div><a id="shop" href="./shop" class="rubrik">Shop</a>
      <div id="div-shop" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./shop/sortiment">Sortiment</a><a href="./shop/range">Range</a><a href="./shop/aktiviteter">Aktiviteter</a><a href="./shop/grupptraning">Gruppträning</a><a href="./shop/golflektioner">Golflektioner</a></div>
      </div><a id="restaurang" href="./restaurang" class="rubrik">Restaurang</a>
      <div id="div-restaurang" class="div"><i class="fas fa-caret-left"></i>
        <div class="items"><a href="./foretag/dagens-lunch">Dagens lunch</a><a href="./foretag/a-la-carte">A la carte</a><a href="./foretag/julbord">Julbord</a><a href="./foretag/catering">Catering</a><a href="./foretag/recensioner">Recensioner</a><a href="./foretag/kontakt">Kontakt</a></div>
      </div>
    </div>
  </nav>
  <section id="main"><img src="./images/västerås golfklubb1.jpg" alt="Västerås Golfklubb">
    <div id="namn">
      <h1 id="vasteras">Västerås</h1>
      <h1 id="golfklubb">Golfklubb</h1>
    </div>
    <div id="aktuellt"><a href="./gast/golfpaket" class="info"><img src="./images/golfpaket.jpg" alt="Västerås golfklubb">
        <h3 id="top" class="text">Boka</h3>
        <h2 id="bottom" class="text">Golfpaket</h2></a><a href="./shop" class="info"><img src="./images/shop1.jpg" alt="Västerås golfklubb shop">
        <h3 id="top" class="text">Pro & Shop</h3>
        <h2 id="bottom" class="text">Tomas Ljungqvist</h2></a></div>
  </section><img id="background" src="./images/västerås golfklubb1.jpg" alt="Västerås Golfklubb">
  <section id="nyheter">
    <h1>Nyheter</h1>
    <div class="nyhet"><a href="./nyheter">Höstuppdatering banan</a>
      <p>Golfsäsongen börjar sjunga på sista versen för i år, vi har kommit in i oktober, löven har så smått skiftat färg 🍁 och frosten har redan nu infunnit sig ett flertal gånger på mornarna. September var en torr och fin höstmånad och banan håller fortsatt riktigt fin klass. Man har inför varje höst/vinter en tanke om att allt kommer att lugna ner dig lite efter sommarens intensiva dagar. På något sätt inträffar aldrig riktigt det lugnet då det alltid finns saker som ligger på och vår ambition alltid är att förbättra och förfina vår skötselplan.</p>
      <div class="datum">
        <p class="dag">03</p>
        <p class="monad">okt</p>
        <p class="ar">2019</p>
      </div>
    </div>
    <div class="nyhet"><a href="./nyheter">Höstuppdatering banan</a>
      <p>Golfsäsongen börjar sjunga på sista versen för i år, vi har kommit in i oktober, löven har så smått skiftat färg 🍁 och frosten har redan nu infunnit sig ett flertal gånger på mornarna. September var en torr och fin höstmånad och banan håller fortsatt riktigt fin klass. Man har inför varje höst/vinter en tanke om att allt kommer att lugna ner dig lite efter sommarens intensiva dagar. På något sätt inträffar aldrig riktigt det lugnet då det alltid finns saker som ligger på och vår ambition alltid är att förbättra och förfina vår skötselplan.</p>
      <div class="datum">
        <p class="dag">03</p>
        <p class="monad">okt</p>
        <p class="ar">2019</p>
      </div>
    </div>
  </section>
</body>
<script type="text/javascript" src="./scripts/index.js"></script>